body{
    background-color: #101010;
    background-image: linear-gradient(to left, #000000 10%, #00000000 50%, #000000 90%);
    color: #acacac;
    position: relative;
    min-height: 100%;
    padding-bottom: 150px;
    font-size: medium;
}

footer{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

h1, h2, h3,h4, h5 , .navbar-default, a, .navbar-text, th{
    color: #dcdcdc !important; 
}

h3{
    padding-left: 15px;
}

.gradient{
    background-color: #10101000;
    background-image: linear-gradient(to right,#00000000 10%, #3e3e3e 50%, #00000000 90%);
}

.gradient-border-top{
    background-color: #10101000;
    border: 0px;
    border-top: 2px solid;
    border-image: linear-gradient(to right,#00000000 5%, #777777 35%, #ffffff 50%, #777777 65%, #00000000 95%) 1;
    background-image: linear-gradient(to right,#00000000 10%, #3e3e3e 50%, #00000000 90%);
    border-radius: 0px;
}

.gradient-border-bottom{
    background-color: #10101000;
    border: 0px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right,#00000000 5%, #777777 35%, #ffffff 50%, #777777 65%, #00000000 95%) 1;
    background-image: linear-gradient(to right,#00000000 10%, #3e3e3e 50%, #00000000 90%);
    border-radius: 0px;
}

.gradient-border-both{
    background-color: #10101000;
    border: 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right,#00000000 5%, #777777 35%, #ffffff 50%, #777777 65%, #00000000 95%) 1;
    background-image: linear-gradient(to right,#00000000 10%, #3e3e3e 50%, #00000000 90%);
    border-radius: 0px;
}

.gap-bottom{
    margin-bottom: 100px !important;
}

.gap-top{
    margin-top: 100px !important;
}
.gap{
    margin-top: 50px;
    margin-bottom: 50px;
}

.gap-small{
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar-default{
    margin-bottom: 0px;
}

.row{
    max-width: 100%;
}

.form-control{
    background-color: #10101000 !important;
    border: 2px solid;
    border-right: 0px;
    border-image: linear-gradient(to right, #777777 0%, #00000000 100%) 1;
    background-image: linear-gradient(to right, #3e3e3e 0%, #00000000 100%);
    border-radius: 0px;
    color: #dcdcdc;
}

.btn{
    background-color: #3e3e3e;
    border: 2px solid #777777;
    border-color: #777777;
    color: #dcdcdc;
}

textarea{
    resize: vertical;
}

.collapsing, .in{
    border-top: 2px solid;
    border-image: linear-gradient(to right, #777777 0%, #dcdcdc 15%, #00000000 60%) 1;
    border-radius: 0px;
}

.navbar-nav{
    padding-right: 20px;
    /* border-right: 2px solid #777777; */
    margin-right: 20px;
}

.footer{
    display: flex!important;
    justify-content: center;
}