:root{
    --bg-1: #000;
    --bg-2: #3e3e3e;

    --border-1: #777777;
    --border-2: #ffffff;

    --gradient-bg-img: linear-gradient(to right,#00000000 10%, var(--bg-2) 50%, #00000000 90%);
    --gradient-border-img: linear-gradient(to right,#00000000 5%, var(--border-1) 35%, var(--border-2) 50%, var(--border-1) 65%, #00000000 95%) 1;

    --gap: 100px;

    --text-1: #acacac;
    --text-2: #dcdcdc;

}

body{
    background-color: var(--bg-1);
    background-image: linear-gradient(to left, #000000 10%, #1b1b1b 50%, #000000 90%);
    color: var(--text-1);
    position: relative;
    min-height: 100%;
    padding-bottom: 150px;
    font-size: medium;
}

footer{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

h1, h2, h3,h4, h5 , .navbar-default, a, .navbar-text, th,.form-control,.btn{
    color: var(--text-2) !important; 
}

h3{
    padding-left: 15px;
}

.gradient,.gradient-border-both,.gradient-border-bottom,.gradient-border-top{
    background-color: var(--bg-1);
    background-image: var(--gradient-bg-img);
}

.gradient-border-both,.gradient-border-bottom,.gradient-border-top{
    border: 0px;
    border-image: var(--gradient-border-img);
    border-radius: 0px;
}

.gradient-border-top{
    border-top: 2px solid;
}

.gradient-border-bottom{
    border-bottom: 2px solid;
}

.gradient-border-both{
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.gap-bottom{
    margin-bottom: var(--gap) !important;
}

.gap-top{
    margin-top: var(--gap) !important;
}
.gap{
    margin-top: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) / 2);
}

.gap-small{
    margin-top: calc(var(--gap) / 4);
    margin-bottom: calc(var(--gap) / 4);
}

.navbar-default{
    margin-bottom: 0px;
}

.row{
    max-width: 100%;
}

.form-control{
    background-color: var(--bg-1) !important;
    border: 2px solid;
    border-right: 0px;
    border-image: linear-gradient(to right, var(--border-1) 0%, #00000000 100%) 1;
    background-image: linear-gradient(to right, var(--bg-2) 0%, #00000000 100%);
    border-radius: 0px;
}

.btn, .navbar-toggle, .navbar-toggle:focus{
    background-color: var(--bg-2) !important;
    border: 2px solid var(--border-1) !important;
}

textarea{
    resize: vertical;
}

.collapsing, .in{
    border-top: 2px solid;
    border-image: linear-gradient(to right, var(--border-1) 0%, var(--text-2) 15%, #00000000 60%) 1;
    border-radius: 0px;
}

.navbar-nav{
    padding-right: 20px;
    /* border-right: 2px solid var(--border-1); */
    margin-right: 20px;
}


.footer{
    display: flex!important;
    justify-content: center;
}