html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(8, 10, 15);
    color: white;
}

body{
    max-width: 700px;
    margin-inline: auto;
}

h1{
    text-shadow: 0px 0px 15px ;
}